### Author: Allan Jeeboo 
### Preferred Name: Vyncent S. A. van der Wolvenhuizen 
### Affiliation: Data Science Student at TripleTen 
### Email: vanderwolvenhuizen.vyncent@gmail.com
### Date Started: 2025-03-21 
### Last Updated: 20215-03-21

# 1.0 Introduction
For this project, we'll be placing ourselves in a role where We need to predict whether a customer will Beta Bank soon. The scenario is that customers are leaving little by little and chipping away every month. The bankers figured out it’s cheaper to save the existing customers rather than to attract new ones. We have the data on clients’ past behavior and termination of contracts with the bank.

We will build a model with an F1 score of at least 0.59, then check the F1 for the test set. Additionally, we'll measure the AUC-ROC metric and compare it with the F1. 

First we'll be importing the data and have a quick overview. Then clean the data as needed and follow up with EDA. Afterward we'll examine the balance of classes and train the model without taking into account the imbalance, then briefly describe our findings. Following that, we'll improve the quality of the model, ensuring we use at least two approaches to fixing class imbalance. We'll use the training set to pick the best parameters, then train different models on training and validation sets, find the best one, and briefly describe our findings. To finish, we'll perform the final testing.

### 1.1 Data Import & Overview
First let's import the necessary libraries and modules for this project, then import the data. To get an overview of what we're working with, let's look at the first five rows of the data, print the shape, and print the data types.

In [6]:
import pandas as pd 

df = pd.read_csv('Churn.csv') 
display(df.head()) 
print(f'rows, columns:\n{df.shape}\n')
print(f'Data types:\n{df.dtypes}')

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2.0,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1.0,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8.0,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1.0,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2.0,125510.82,1,1,1,79084.10,0

rows, columns:
(10000, 14)

Data types:
RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure             float64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object